body {
    font-size: 13px;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    background-color: white;
    color: black;
    margin: 4px 0px 4px 0px;
}

#body {
    display: flex;
    flex-direction: column;
}

#menu {
    width: auto;
    flex-direction: row;
    align-self: flex-end;

}

#menu a
{
    margin-top: 5px;
    padding: 0 10px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    display: inline-flex;
    line-height: 10px;
    vertical-align: middle;
    list-style-type: none;
    font-size: 12px;
}

#menu svg {
    height: 20px;
    width: 20px;
}

#user-initial {
    border-radius: 50%;
}

#google {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 25px;
}

#inputbar {
    width: 100%;
    align-self: center;
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    display: flex;
    align-items: center;
    margin-top: -5px;
    max-width: 580px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    padding: 10px 13px 10px 0px;
}

#inputbar input {
    border: none;
    outline: none;
    -webkit-writing-mode: horizontal-tb !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font: 400 13.3333px Arial;
    width: 90%;
    margin-left: 10px; 
}

#magnify {
    color: #9aa0a6;
    fill: currentColor;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    padding-left: 15px;
}

#voice {
    width: 25px;
    height: 25px;
}

#button-div {
    height: 70px;
    align-self: center;
    margin-top: 20px;
}

#button-div button{
    padding: 0 16px;
    margin: 11px 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: none;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: #202124;
}

#button-div button:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

#alternative {
    align-self: center;
}

#alternative a {
    text-decoration: none;
    color: blue;

}

@media only screen and (min-width: 770px) {
    
footer {
    display: flex;
    margin-top: 120px;
    background-color: #f2f2f2;
    flex-direction: column;
}

#portugal {
    -moz-box-flex: inherit;
    justify-self: left;
    text-decoration: none;
}

#portugal p {
    color: inherit;
}

#portugal p a {
    text-decoration: none;
    color: inherit;
}

.grey-width {
    padding: 5px 10px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

nav {
    align-items: center;
}

#nav p {
    padding-left: 3px;
    font-size: 14px;
    display: inline ;

}

#nav p a {
    text-decoration: none;
    color: inherit;
}

.nav-left {
    float:left;
    padding-right: 30px;
}

.nav-right {
    float: right;
    padding-right: 30px;
}
}

@media only screen and (max-width: 770px) {
    #footer p {
        visibility: hidden;
    }
}